body {
  font-family: Roboto, sans-serif;
  background:rgba(245,251,255,1);
}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?f1j6cp');
  src:  url('./fonts/icomoon.eot?f1j6cp#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?f1j6cp') format('truetype'),
    url('./fonts/icomoon.woff?f1j6cp') format('woff'),
    url('./fonts/icomoon.svg?f1j6cp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;

  /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\e9df";
  color: lightgreen;
}
.icon-smile:before {
  content: "\e9e1";
  color: pink;
}
.icon-sad:before {
  content: "\e9e5";
  color: lightblue
}
.icon-angry:before {
  content: "\e9ed";
  color: red;
}
.icon-wondering:before {
  content: "\e9fb";
  color: violet;
}  

.App {
  text-align: center;
}

td{
  padding: 0.3%;
  font-size: 12px;
}

td.great{
  background-color: lightgreen;
}

td.good{
  background-color: pink;
}

td.ok{
  background-color: violet;
}

td.sad{
  background-color: lightblue;
}

td.terrible{
  background-color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.moodRatingBoard{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.moodRatingBoard button {
    border: none;
    background: transparent;
    padding-top: 10%;
    font-size: 60px;

}

.moodCount {
  display: flex;
  justify-content: space-evenly;
  max-width: 68%;
  text-align: center;
  margin-left: 16.5%;
}

.calendar {
  background-color: white;
    padding: 5%;
    width: 100%;
}

h2 {
  font-weight: 200;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  color: black;
  background: lightblue;
  padding-bottom: 30px;
  padding-right: 10%;
}

.navItem {
  text-decoration: none;
  color: black;
  margin-top: 35px;
  padding: 0 65px;
}

.getStarted {
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20%;*/
  text-align: left;
  margin-left: 23%;
}

.getStartedButton {
  padding: 15px 30px;
  background: lightblue;
  border: none;
  border-radius: 100px 100px 100px 100px;
  text-decoration: none;
  color: black;
  margin-top: 15%;
  position: absolute;
}

.happyLife {
  width: 48%;
  right: 0px;
  position: absolute;
}

.moodioIntro {
  float: left;
  text-align: left;
  position: absolute;
  top: 200px;
  left: 380px;
  line-height: 52px;
  /* font-family: roboto; */
  font-weight: 500;
  font-size: 20px;
}
