 @font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?f1j6cp');
  src:  url('./fonts/icomoon.eot?f1j6cp#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?f1j6cp') format('truetype'),
    url('./fonts/icomoon.woff?f1j6cp') format('woff'),
    url('./fonts/icomoon.svg?f1j6cp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\e9df";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-wondering:before {
  content: "\e9fb";
}  

.App {
  text-align: center;
}

td.great{
  background-color: teal
}

td.good{
  background-color: greenyellow
}

td.ok{
  background-color: purple
}

td.sad{
  background-color: lightseagreen;
}

td.terrible{
  background-color: palevioletred;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.moodRatingBoard{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.moodRatingBoard button {
    border: none;
    background: transparent;
    font-size: 30px;

}

